[user]
  name = John Manero
  email = john.manero@gmail.com

[credential]
  helper = osxkeychain

[push]
  default = matching

[alias]
  close = "!${HOME}/.gitconfig.d/bin/close ${1}"
  l = "!${HOME}/.gitconfig.d/bin/pretty-log"
  fm = fetch origin master:master
  fp = fetch origin --prune
  fixup = "!f() { git rebase -i HEAD~${1-2}; }; f"

  yolo = !"git add --all && git commit -m \"YOLO\n\n Don't hate me for my swag\" && git push -f"
[core]
  editor = atom -w
